{% extends 'base.html' %}

{% block 'title' %}
Home|AyDEV
{% endblock %}

{% block 'body' %}
    <form method="POST">
        {% csrf_token %}
        <input type='text' name='title' placeholder="title">
        <textarea name='des'></textarea>
        <input type="submit">
    </form>
    <h1>Todo's</h1>

    <div class='todo'>
        <div class="title">{{todo.title}}</div>
        <div class="des">{{todo.des}}</div>
    </div>
    
    {% for todo in todoList %}
    <div class='todo'>
        <div class="title">{{todo.title}}</div>
        <div class="des">{{todo.des}}</div>
    </div>
    <p></p>
    {% endfor %}
    
{% endblock %}