{% extends 'sampleapp/base.html' %}
{% block 'body'%}
<div class="form">
    <form>
        <input class="titleInput" type="text">
        <textarea name="desInput"></textarea>
    </form>
</div>
<div class='todo'>
    <div class="title">Title</div>
    <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, dicta? Fuga esse culpa sit, pariatur maxime quae iusto voluptatem, dolorem obcaecati, unde commodi facilis consequatur sint ea distinctio laborum placeat.</div>
</div>
{% endblock %}