h4{
    color: red;
}
p{
    color: blue;
}
header{
    background-color: teal;
    width: 100%;
    height: 100px;
}
.sidebar{
    float: left;
    width: 100px;
    height: 1000px;
    color: red;
    background-color: blue;
}